body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: black;
}

h1 {
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-size: 150%;
    font-weight: bold;
}

table {
  border-collapse: collapse;
}

th {
    background-color: black;
    color: white;
    text-align: left;
}

td, th {
    padding-left: 5pt;
    padding-top: 1pt;
    padding-bottom: 1pt;
    padding-right: 5pt;
}

td.numeric {
    text-align: right;
}
