<html>

<head>
    <link rel="icon"
          type="image/ico"
          href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='rpmindex.css') }}">
    <title>{{ title }} - /{{ path }}</title>
</head>

<body>
    <h1>{{ title }}</h1>

    <h2>/{{ path }}</h2>

    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Size</th>
            <th>Modified</th>
            <th>Description</th>
        </tr>
        {% for dir in dirs -%}
        <tr>
            <td>&#x1F4C1;</td>
            <td>
                <a href="{{ url_for('index.index', path=path+'/'+dir.name) }}">
                    {{ dir.name }}
                </a>
            </td>
            <td class="numeric">{{ dir.size }}</td>
            <td>{{ dir.modified }}</td>
            </td></td>
        </tr>
        {% endfor -%}
        {% for file in files -%}
        <tr>
            <td></td>
            <td>
                <a href="{{ url_for('index.index', path=path+'/'+file.name) }}">
                    {{ file.name }}
                </a>
            </td>
            <td class="numeric">{{ file.size }}</td>
            <td>{{ file.modified }}</td>
            <td>{{ file.description }}</td>
        </tr>
        {% endfor -%}
    </table>
</body>

</html>
